<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- basic log level for all hibernate messages-->
        <Logger name="org.hibernate" level="INFO"/>

        <!-- SQL statements and parameters with ?'s-->
        <Logger name="org.hibernate.SQL" level="DEBUG"/>

        <!-- replace parameter ?'s with argument values -->
        <Logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>
        <Root level="INFO">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>